.card-img-top {
    height: 500px; 
    object-fit: cover; 
}

.custom-search-btn {
    background-color: #ff6600; 
    border-color: #ff6600; 
}

.btn-primary.custom-details-btn {
    background-color: #ff6600; 
    border-color: #ff6600;
}